.theme-kantian {
  --color-primary: #775fa4;
  --color-background: #f7f8fc;
  --color-border: #d4cdc8;
  --color-link: #639fa9;
  --color-description: #817f91;
  --color-text-pane: #c8d0d4aa;
}

@media (prefers-color-scheme: dark) {
  .theme-kantian {
    --color-background: #1e1c2e;
    --color-border: #3e3b55;
    --color-link: #52868d;
    --color-description: #b0aed0;
    --color-text-pane: #2d2d7bb0;
  }
}
