@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  scroll-margin-top: var(--header-height);
  scrollbar-color: var(--border) transparent;
}

:root {
  --header-height: 50px;

  --primary: #b1cce7;
  --background: #ffffff;
  --border: #c4cde071;
  --link: rgb(14, 98, 182);
  --description: #58637a;
  --text-pane: #ffffff92;
}

.dark {
  --primary: #396088;
  --background: #111a20;
  --border: #41485671;
  --link: rgb(91, 153, 216);
  --description: #8b98b2;
  --text-pane: #00000092;
}

.prose p {
  @apply text-justify;
}
