@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  scroll-margin-top: var(--header-height);
  scrollbar-color: var(--border) transparent;
}

:root {
  --header-height: 50px;

  --primary: rgba(213, 148, 82, 255);
  --background: #f7f8fc;
  --border: #c4cde0c6;
  --link: rgb(14, 98, 182);
  --description: #6f798d;
  --text-pane: #d2d2d292;
}

.dark {
  --primary: rgba(213, 148, 82, 255);
  --background: #111a20;
  --border: #555c6a71;
  --link: rgb(91, 153, 216);
  --description: #8b98b2;
  --text-pane: #00000092;
}

.spoiler {
  filter: blur(5px);
  cursor: pointer;
  user-select: none;
  transition: filter 0.5s ease;
}

.spoiler.revealed {
  filter: none;
}
.fancy-link {
  position: relative;
}
.fancy-link::after {
  content: "→";
  position: absolute;
  left: calc(100% + 5px);
  transition: left 200ms ease-in-out;
}
.fancy-link:hover::after,
.fancy-link:focus::after {
  left: calc(100% + 15px);
}

.dark .sensitive-image {
  filter: brightness(75%);
}

/** TAILWIND PROSE STYLES OVERRIDE */
.tractate {
  @apply prose prose-slate dark:prose-invert md:prose-xl max-w-full prose-p:text-justify;
}

.tractate .subtitle {
  color: var(--description);
  @apply italic;
}

.tractate blockquote {
  font-weight: 300;
  font-style: normal;
}

.docx-comment-reference a {
  color: var(--link);
  margin-right: 8px;
  text-decoration: none;
}

.tractate dt::before {
  content: "💬";
  margin-right: 8px;
}

.tractate dl dt {
  border-bottom: 1px solid var(--border);
}

.tractate dl dd a {
  color: var(--link);
  text-decoration: none;
}
